:root {
	/*
	--color-primary: #b9c1a5;
	--color-secondary: #99a579;
	--color-accent: #271f9a;
	--color-text: #211717;
	*/
	--color-primary: #DFDEDC;
	--color-secondary: #2A2E2D;
	--color-accent: #2D3599;
	--color-text: #2A2E2D;
	--color-shadow: #B3CBF4;

	/* Color palette background */
	/* --default-background-hover: var(--color-shadow); */
	--background-primary: var(--color-primary);
	--background-secondary: var(--color-secondary);
	--background-main: transparent;
	--background-button: color-mix(in srgb,
			var(--color-primary),
			var(--color-accent) 60%);
	--background-horizontal: color-mix(in srgb,
			var(--color-text),
			var(--color-shadow) 60%);
	--background-disabled: color-mix(in srgb,
			var(--background-secondary),
			gray 90%);
	--background-disabled-hover: color-mix(in srgb,
			var(--background-secondary),
			gray 70%);
	--background-input: var(--color-primary);
	--background-input-error: color-mix(in srgb,
			var(--color-primary) 92%,
			red);
	--background-input-file: color-mix(in srgb,
			var(--background-input),
			gray 20%);
	--background-input-file-hover: color-mix(in srgb,
			var(--background-input),
			gray 50%);
	--border-hr: var(--text);
	--border-hr-light: color-mix(in srgb,
			var(--background-primary),
			black 20%);

	/* Color palette text */
	--text: var(--color-text);
	--text-opposite: var(--color-primary);
	--text-button: var(--color-primary);
	--text-anchor: var(--color-accent);

	/* Color palette background hover*/
	--background-button-hover: color-mix(in srgb,
			var(--background-button),
			black 20%);
	--background-input-hover: color-mix(in srgb,
			var(--background-input),
			white 20%);

	/* Color palette text hover*/
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-3-style,
.header-6-style {
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

body {
	background-color: var(--background-primary);
	color: var(--text);
}

.dropdown {
	.dropdown-menu {
		background-color: var(--background-primary);
		box-shadow: 3px 3px 0 0px black;
	}

	.dropdown-title {
		box-shadow: 6px 6px 0 -3px black;

		&:after {
			border-color: black;
			border-left-color: rgba(0, 0, 0, 0.25);
			border-top-color: rgba(0, 0, 0, 0.25);
		}
	}

	&:hover,
	&:focus-within {
		.dropdown-title {
			&:after {
				border-color: black;
				border-right-color: rgba(0, 0, 0, 0.25);
				border-bottom-color: rgba(0, 0, 0, 0.25);
			}
		}
	}
}

.thread-page-link {
	&:after {
		border-color: black;
		border-left-color: rgba(0, 0, 0, 0.25);
		border-bottom-color: rgba(0, 0, 0, 0.25);
		outline: var(--background-primary) 2px solid;
	}

	&:hover,
	&:focus-within {
		&:after {
			box-shadow: 2px -2px 0 2px var(--color-accent);
			outline-offset: -1px;
		}
	}
}

header {
	background-color: var(--background-secondary);
	box-shadow: 0 2px 0 0 black;
	color: var(--text-opposite);
}

main {
	background-color: var(--background-main);
}

footer {
	background-color: var(--background-secondary);
	color: var(--text-opposite);
}

form {
	background-color: var(--background-primary);
}

section#section-faq {
	background-color: var(--background-primary);
}

input,
[type="text"],
[type="email"],
[type="search"],
[type="file"],
textarea,
select {
	background-color: var(--background-input);
	box-shadow: 6px 6px 0 -3px black;
	border-color: black;

	&:hover {
		background-color: var(--background-input-hover);
		box-shadow: 4px 4px 0 -1px black;
	}

	&:disabled {
		background-color: var(--background-disabled);
		color: var(--text);

		&:hover {
			background-color: var(--background-disabled-hover);
		}
	}

	&:focus {
		border-color: var(--color-accent);
		background-color: var(--background-input-hover);
		box-shadow: 4px 4px 0 -1px var(--color-accent);
	}
}

button,
[type="button"],
[type="submit"],
.button-style {
	background-color: var(--background-button);
	color: var(--text-button);
	box-shadow: 6px 6px 0 -3px black;

	&:hover {
		background-color: var(--background-button-hover);
		box-shadow: 4px 4px 0 -1px black;
	}

	&:focus {
		background-color: var(--background-button-hover);
		box-shadow: 4px 4px 0 -1px black;
	}

	&:disabled {
		background-color: var(--background-disabled);
		color: var(--text);

		&:hover {
			background-color: var(--background-disabled-hover);
		}
	}
}

[type="file"] {
	&::file-selector-button {
		background-color: var(--background-input-file);
	}

	&::file-selector-button:hover {
		background-color: var(--background-input-file-hover);
	}
}

#settings-dropdown {
	#content {
		box-shadow: 4px 4px 0 -1px black;
	}
}

[id="tag-list"] {
	position: relative;
	background-color: var(--color-primary);
	border-color: black;
	box-shadow: 6px 6px 0 -3px black;
}

.tag {
	background-color: var(--background-primary);
	color: var(--text);
	box-shadow: none;

	&:hover {
		background-color: var(--background-primary);
		box-shadow: none;
	}
}

a,
.anchor-style {
	color: var(--text-anchor);

	&:hover {
		text-decoration-color: var(--text-anchor);
	}
}

.anchor-style {
	background-color: inherit;
	box-shadow: none;

	&:hover {
		background-color: inherit;
		box-shadow: none;
	}
}

.header-3-style,
.header-6-style {
	&:disabled {
		box-shadow: none;
		background-color: inherit;

		&:hover {
			background-color: inherit;
		}
	}
}

.paragraph-style {
	background-color: inherit;

	&:hover {
		background-color: inherit;
	}

	&:disabled {
		box-shadow: none;
		background-color: var(--background-disabled);

		&:hover {
			background-color: var(--background-disabled-hover);
		}

		&:focus {
			background-color: var(--background-disabled-hover);
		}
	}
}

legend {
	background-color: var(--background-primary);
	border-color: black;
	box-shadow: 4px 4px 0 -1px black;
}

hr {
	border-color: var(--border-hr);
	box-shadow: 2px 2px 0 0 black;

	&.light {
		border-color: var(--border-hr-light);
	}
}

fieldset {
	border-color: black;
	box-shadow: 4px 4px 0 -1px black;
}

table#master-table-header {
	background-color: var(--background-primary);
	box-shadow: 4px 4px 0 -1px black;
}

table.user-table {
	td {
		>[name].edit-input {
			box-shadow: 0 4px 0 -1px black inset;

			&:not(:disabled) {
				background-color: color-mix(in srgb, transparent, gray 10%);
			}
		}
	}
}

form[role="edit-thread"],
.thread {
	border-color: black;

	.thread-header {
		background-color: var(--background-secondary);
		color: var(--text-opposite);
	}

	.thread-footer {
		background-color: var(--background-secondary);
		color: var(--text-opposite);
	}
}

form[role="create-thread"] {
	background-color: transparent;

	input,
	textarea {
		box-shadow: 4px 4px 0 -1px black;
	}
}

.post-container {
	border-color: rgba(0, 0, 0, 0.5);
}

.avatar {
	background-color: var(--color-primary);
	outline-color: white;
}

.icon {
	background-color: white;
}
