@import url("./animations.css");
@import url("./colors.css");
@import url("./font.css");
@import url("./queries.css");

:root {
	--transition-time: 0.2s;

	--padding: 1.3rem;
	--padding-small: 0.8rem;
	--padding-medium: 3rem;

	--border-radius: 0.1rem;

	--margin: 1.3rem;
	--margin-small: .5rem;
	--margin-medium: 3rem;
	--margin-large: 7rem;

	--height-nav: 100px;
	--height-header: 100px;
	--height-footer: 100px;
	--height-main: 100vh;

	--gap: 20px;
	--gap-small: 10px;
}

body {
	/* display: grid; */
	/* grid-template-rows: */
	/* 0.1fr auto 0.1fr; */
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-6-style {
	-webkit-transition: var(--transition-time);
	transition: var(--transition-time);
}

nav {
	height: var(--height-nav);
	padding-inline: var(--padding);
	display: grid;
	place-items: center;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		gap: var(--gap);
		width: 100%;

		li {
			padding: 0;
		}
	}

	>ul {
		grid-auto-flow: column;

		>li {
			margin: 0 0.5rem;
			display: flex;
			justify-content: center;
			margin-block: 0.75rem;

			a,
			.dropdown-title {
				display: inline-block;
			}

			>a,
			>.anchor-style {
				padding-block: var(--padding-small);
				padding-inline: var(--padding-small);
			}
		}
	}
}

.dropdown {
	position: relative;
	justify-self: flex-end;
	width: fit-content;
	margin-block: 0.75rem;

	.dropdown-menu {
		position: absolute;
		padding-inline: var(--padding);
		padding-block: var(--padding-small);
		width: 100%;
		top: 100%;
		left: 50%;
		transform: rotateX(-90deg) translateX(-50%);
		transform-origin: top center;
		opacity: 0.3;
		visibility: hidden;
		transition: 280ms all 120ms ease-out;
		gap: 0;

		a,
		.anchor-style {
			display: block;
		}

		&>* {
			padding-block: 0.5rem;

			a,
			.anchor-style {
				padding: 0;
			}
		}
	}

	.dropdown-title {
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		cursor: pointer;
		user-select: none;
		width: 100%;
		padding-block: var(--padding-small);
		padding-inline: var(--padding-small);
		padding-right: 3rem;
		column-gap: var(--gap);
		margin-block: 0;

		&:after {
			position: absolute;
			content: "";
			right: 0;
			border-width: 0.3rem;
			border-left-width: 0.4rem;
			border-bottom-width: 0.4rem;
			border-style: solid;
			margin-right: 0.95em;
			transform: translateY(0.3em);
			transform: rotate(45deg);
			transition: var(--transition-time);
		}
	}

	&:hover,
	&:focus-within {
		.dropdown-menu {
			opacity: 1;
			transform: rotateX(0) translateX(-50%);
			visibility: visible;
		}

		.dropdown-title {
			&:after {}
		}
	}
}

header {
	display: flex;
	flex-direction: column;
	min-height: var(--height-header);
	width: -moz-available;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	padding-block: var(--gap-small);
	padding-inline: var(--gap);
}

main {
	min-height: calc(var(--height-main) - var(--height-nav) - var(--height-header) - var(--height-footer));
	padding-block: var(--padding);
}

footer {
	height: var(--height-footer);
	display: flex;
	justify-content: center;
	align-items: center;
}

input,
[type="text"],
[type="email"],
[type="submit"],
[type="search"],
[type="file"],
textarea,
select {
	position: relative;
	padding-inline: var(--padding);
	padding-block: var(--padding-small);
	border-radius: var(--border-radius);
	border-width: 1px;
	-webkit-transition: var(--transition-time);
	transition: var(--transition-time);
	outline: none;

	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

button,
.button-style {
	padding-inline: var(--padding);
	padding-block: var(--padding-small);
	border-radius: var(--border-radius);
	-webkit-transition: var(--transition-time);
	transition: var(--transition-time);
	border: none;
}

[type="file"] {
	display: flex;
	flex-direction: row;
	align-content: center;
	padding-block: 0;
}

[type="file"]::file-selector-button {
	padding: 5px 10px;
	border-radius: 20px;
	border: none;
	margin-right: 15px;
}

[type="search"] {
	width: -moz-available;
}

.return {
	cursor: pointer;
	user-select: none;
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	background-color: var(--color-accent);
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

	&:hover {
		transform: scale(1.2, 1.2);
	}
}

a,
.anchor-style {
	-webkit-transition: var(--transition-time);
	transition: var(--transition-time);
}

.anchor-style {
	margin: 0;
}

.header-6-style {
	border: none;
	padding-block: var(--padding-small);
	padding-inline: var(--padding-small);
	width: -moz-available;

	&:hover {
		cursor: text;
	}

	&:disabled {
		padding: 0;

		&:hover {
			cursor: text;
		}
	}
}

.paragraph-style {
	border: none;
	width: -moz-available;
	display: flex;
	margin-bottom: 0;

	&:hover {
		cursor: text;
	}

	&:disabled {
		padding: 0;
		resize: none;

		&:hover {
			cursor: text;
		}
	}
}

label,
[type="submit"] {
	cursor: pointer;
}

.tag {
	display: flex;
	align-items: center;
	gap: var(--gap-small);
	height: fit-content;
}

[id="tag-list"] {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	height: 100%;
	-webkit-transition: height var(--transition-time);
	transition: height var(--transition-time);
	align-content: baseline;
	padding-inline: var(--padding);
	padding-block: var(--padding-small);
	border: 1px solid;
	overflow-y: hidden;

	&.hidden {
		height: 20px;

		&>* {
			display: none;
		}
	}

	&:hover {
		height: 70px;
		overflow-y: scroll;
	}

	&.overflowing {
		animation-name: animate-tag-list;
		animation-duration: 0.5s;
		animation-iteration-count: 1;
		animation-timing-function: ease;
	}
}

legend {
	padding: var(--padding);
	margin-inline: auto;
	border-left: 2px;
	border-top: 2px;
	border-style: dotted;
}

form {
	padding: var(--padding);
}

form[role]:not([role="search"]) {
	min-width: fit-content;
	width: 50%;

	&:not([role="profile-update"])>[class*="grid-item-"] {
		display: flex;
		flex-direction: column;
	}
}

form[role="search"] {
	display: grid;
	grid-template-columns:
		auto 1fr auto auto;
	grid-template-rows:
		auto 50px 50px;

	&>* {
		margin: 0;
	}

	h6,
	.header-6-style {
		text-align: center;
	}

	.grid-item-1 {
		grid-column: 1 / 5;
		grid-row: 1 / 2;
	}

	.grid-item-2 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.grid-item-3 {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.grid-item-4 {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		z-index: 1;
	}

	.grid-item-5 {
		grid-column: 4 / 5;
		grid-row: 2 / 3;
		z-index: 2;
	}

	.grid-item-6 {
		grid-column: 2 / 5;
		grid-row: 3 / 4;
		z-index: 3;
	}
}

form[role="register"] {
	display: grid;
	grid-template-columns:
		auto auto;
	grid-template-rows:
		auto auto auto auto auto auto auto;
	column-gap: var(--gap);
	row-gap: var(--gap-small);

	.grid-item-1 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.grid-item-2 {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.grid-item-3 {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}

	.grid-item-4 {
		grid-column: 1 / 3;
		grid-row: 4 / 5;
	}

	.grid-item-5 {
		grid-column: 1 / 3;
		grid-row: 5 / 6;
	}

	.grid-item-6 {
		grid-column: 1 / 3;
		grid-row: 6 / 7;
	}

	.grid-item-7 {
		grid-column: 1 / 3;
		grid-row: 7 / 8;
	}
}

form[role="login"] {
	display: grid;
	grid-template-columns:
		auto;
	grid-template-rows:
		auto auto auto auto;
	column-gap: var(--gap);
	row-gap: var(--gap-small);

	/* .grid-item-1 {} */
	/* .grid-item-2 {} */
	/* ... */
}

form[role="reset-password"] {
	display: grid;
	grid-template-columns:
		auto;
	grid-template-rows:
		auto auto;
	column-gap: var(--gap);
	row-gap: var(--gap-small);

	/* .grid-item-1 {} */
	/* .grid-item-2 {} */
	/* ... */
}

form[role="profile-update"] {
	display: grid;
	grid-template-columns:
		auto;
	grid-template-rows:
		auto;
	column-gap: var(--gap);
	row-gap: var(--gap-small);
	padding: var(--padding-small);

	&>[class*="grid-item-"] {
		display: grid;
		grid-template-columns:
			0.3fr auto 0.2fr;
		grid-template-rows:
			auto auto;
		width: -moz-available;

		.grid-item-1 {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}

		.grid-item-2 {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}

		.grid-item-3 {
			grid-column: 3 / 3;
			grid-row: 2 / 3;
		}
	}


	&>[class*="grid-item-"]:last-of-type {
		display: flex;
		flex-direction: column;
	}
}

form[role="password-update"] {
	display: grid;
	grid-template-columns:
		auto;
	grid-template-rows:
		auto auto auto auto;
	column-gap: var(--gap);
	row-gap: var(--gap-small);

	/* .grid-item-1 {} */
	/* .grid-item-2 {} */
	/* ... */
}

form[role="send-verification"] {
	display: none;
}

form[role="logout"] {
	padding: 0;
}

fieldset {
	display: flex;
	flex-direction: column;
	border: 2px solid;
	border-radius: var(--border-radius);
	padding: var(--padding);
	padding-bottom: calc(var(--padding)*2);

	textarea,
	input:not([type="submit"]) {
		margin-bottom: var(--margin);
	}

	[type="submit"] {
		margin-top: var(--margin);
	}
}

section {
	padding: var(--padding);

	&.centered {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.thread {
	position: relative;
	display: grid;
	grid-template-columns:
		auto;
	grid-template-rows:
		auto auto auto;
	row-gap: var(--gap-small);
	margin-inline: var(--margin-large);
	margin-block: var(--margin);
	padding: 0;
	border-inline: 2px solid;

	&>.grid-item-1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	&>.grid-item-2 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	&>.grid-item-3 {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.thread-header {
		display: grid;
		grid-template-columns:
			auto 1fr;
		grid-template-rows:
			auto auto;
		padding-inline: var(--padding-small);
		padding-block: var(--padding-small);

		&>.grid-item-1 {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}

		&>.grid-item-2 {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}

		&>.grid-item-3 {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}

		&>.grid-item-4 {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
		}
	}

	.thread-body {
		display: flex;
		flex-direction: column;
		padding-inline: var(--padding-small);
		padding-block: var(--padding-small);
	}

	.thread-footer {
		display: flex;
		justify-content: space-between;
		padding-inline: var(--padding-small);
		padding-block: var(--padding-small);
	}

	.thread-page-link {
		position: relative;
		margin-inline: auto;
		display: inline-flex;
		padding-right: 3rem;

		&:after {
			position: absolute;
			content: "";
			place-self: center;
			right: 0;
			border-width: 0.5rem;
			border-left-width: 0.4rem;
			border-bottom-width: 0.4rem;
			border-style: solid;
			margin-right: 0.95em;
			transform: translateY(0.3em);
			transform: rotate(45deg);
			transition: var(--transition-time);
		}
	}

	form {
		width: fit-content;
		height: fit-content;
		padding: 0;
		margin: 0;
		background-color: transparent;
	}

	.action-menu {
		display: flex;
		gap: var(--gap-small);
	}
}

.thread-expanded {
	margin-inline: 0;
	border: 0;
}

.post-list {
	padding-bottom: 0;
}

.post-container {
	margin-block: var(--margin);
	padding-block: var(--padding-small);
	border-left: 2px solid;

	&:last-of-type {
		margin-bottom: 0;
		/* padding-bottom: 0; */
	}
}

.post {
	position: relative;
	display: grid;
	grid-template-columns:
		auto;
	grid-template-rows:
		auto auto auto auto;
	padding: var(--padding-small);

	&>.grid-item-1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	&>.grid-item-2 {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	&>.grid-item-3 {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}

	form {
		width: fit-content;
		height: fit-content;
		min-width: 50%;
		padding: 0;
		margin: 0;
	}

	.action-menu {
		display: flex;
		gap: var(--gap-small);
	}
}

hr {
	margin-block: var(--margin);
	border-top-width: 10px;

	&.small {
		margin-block: var(--margin-small);
		border-top-width: 7px;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.avatar {
	object-fit: contain;
	width: fit-content;
	height: auto;
	border-radius: 50%;
	outline: 2px inset;

	&.avatar-small {
		width: 25px;
		height: 25px;
	}

	&.avatar-medium {
		width: 50px;
		height: 50px;
	}
}

.icon {
	object-fit: contain;
	width: fit-content;
	height: auto;
	outline: 2px inset;

	&.icon-small {
		width: 25px;
		height: 25px;
	}

	&.icon-medium {
		width: 50px;
		height: 50px;
	}
}

/* .multi-line-truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	// Number of lines to display
	overflow: hidden;
} */
